.paper {
  position: relative;
}

.button-container {
  position: relative;
  left: 35%;
  display: block;
  text-align: center;
  width: 180px;
  height: 70px;
}

.pdfnav {
  color: #fff;
  display: inline-block;
  font-size: 24px;
}

.pdfnav-text {
  color: #474848d9;
  display: inline-block;
  font-size: 24px;
}

.pdfnav-icon {
  position: relative;
}

button {
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #474848d9;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}